@use 'selectors';

@mixin color() {
  background-color: var(--background-color);
  border-color: var(--border-color);
  color: var(--text-color);
}

#{selectors.$clickable-component}, .group.hover > * {
  cursor: pointer;
  &:hover {
    background-color: var(--hover-color);
    text-decoration: none;
  }
}

#{selectors.$card} {
  @include color;
}

#{selectors.$button} {
  @include color;
  display: inline-block;
  text-decoration: none;
}

.panel {
  @include color;
  padding: 0; 
  border-radius: var(--panel-border-radius);
  .header {
    border-radius: var(--panel-border-radius) var(--panel-border-radius) 0 0;
    font-weight: bold;
    border-bottom: inherit;
  }
  .body {
    border-radius: 0 0 var(--panel-border-radius) var(--panel-border-radius);
    border-bottom: none;
  }
}

#{selectors.$group}  {
  @include color;
  border-radius: var(--group-border-radius);
  padding: 0;
  & > * {
    @include color;
  }
  :first-child {
    border-radius: var(--group-border-radius) var(--group-border-radius) 0 0;
  }
  :not(:last-child) {
    border-bottom: none;
  } 
  :last-child {
    border-radius: 0 0 var(--group-border-radius) var(--group-border-radius);
  }
  & > a {
    display: block;
    text-decoration: none;
  }
}

.grid {
  border-color: var(--border-color);
  background: none;
  & > * {
    @include color;
  }
}