body {
  @extend .canvas-bg
}

pre {
  overflow: auto;
}

ol, ul {
  padding-right: 1em;
  li {
    display: block; 
    &:before {
      display: block;
      float: left;
      margin-right: 1em;
    }
  }
}

ol { 
  counter-reset: item; 
  li { 
    &:before {
      content: counter(item) ".";
      counter-increment: item;
    }
  }
}

ul li:before {
  content: "â—";
}