@use 'components/mixins' as *;

hr {
  border: none;
}

pre {
  overflow: auto;
}

ol, ul {
  list-style-position: inside;
}

.responsive-table {
  overflow: auto;
}

table {
  th, td {
    @include color-component();
  }
}