@use 'components';

hr {
  border: none;
}

pre {
  overflow: auto;
}

ol, ul {
  list-style-position: inside;
}

.responsive-table {
  overflow: auto;
}

table {
  th, td {
    @include components.color();
  }
}