@use 'selectors';

#{selectors.$input} {
  @extend .canvas-bg;
}

textarea {
  display: block;
  width: 100%;
}

.field.danger {
  @extend .danger-text;
  --component-input-border-color: var(--danger-input-border-color);
}