.center {
  margin: auto;
}

.fixed {
  z-index: 2000;
  position: fixed;
  max-height: 100vh;
  overflow: auto;
}

.sticky {
  position: sticky;
  top: 0;
  align-self: start;
  max-height: 100vh;
  overflow: auto;
  .navbar-push & {
    top: var(--navbar-push);
    max-height: calc(100vh - var(--navbar-push));
  }
}

.fluid {
  border-radius: 0 !important;
  --border-radius: 0 !important;
  margin: 0 !important;
}