.center {
  margin: auto;
}

.fixed {
  z-index: 2000;
  position: fixed;
  max-height: 100vh;
  overflow: auto;
}

.sticky {
  position: sticky;
  top: 0;
  max-height: 100vh;
  overflow: auto;
}

.fluid {
  border-radius: 0 !important;
  --border-radius: 0 !important;
  margin: 0 !important;
}