@use 'config/breakpoints';

* {
  box-sizing: border-box;
}

.responsive-wrapper {
  display: flex;
  flex-flow: row wrap;
}

.push-footer {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
  footer {
    margin-top: auto;
  }
}

// Grid system
.row {
  display: flex;
  flex-flow: row wrap;
}
:where([class*="col-"]) {
  width: 100%;
}
[class*="slice-in-"] {
  display: grid;
  & > * {
    max-width: 100%;
  }
}
@include breakpoints.each-min using($infix) {
  @for $i from 1 through 12 {
    .col-#{$i}-#{$infix} {
      width: calc(100% / 12 * $i);
    }
    .slice-in-#{$i}-#{$infix} {
      grid-template-columns: repeat($i, 1fr);
    }
  }
}


// Hide and show
@include breakpoints.each-min using($infix) {
  .hide-#{$infix} {
    display: none;
  }
}

@include breakpoints.each-min-not using($infix) {
  .show-#{$infix} {
    display: none;
  }
}
