.modal {
  width: max-content;
  max-width: 90vw;
  max-height: 90vh;
  overflow: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  &:not(.open):not(:target) {
    box-shadow: 0 0 0 0 #0000;
    transform: translate(-50%, -200vh);
  }
  .close {
    padding: 0;
    margin: 0;
    text-decoration: none;
    &::before {
      content: var(--close-symbol);
    }
  }
}