---
---

@use '../generate-color-variables';

* {
  transition: 0.5s all;
}

:root {
  // Colors
  @include generate-color-variables.globals(
    $colors: (
      "canvas": white,
      "primary": #002b6f,
      "secondary": #005b52,
      "tertiary": #29005b,
      "success": #005b15,
      "danger": #970000,
      "warning": #e78f00,
      "info": #00b8cf,
    ),
    $text-contrast: 95%,
    $border-contrast: 20%,
    $hover-contrast: 10%,
  );

  // Components
  --component-padding: 1em;
  --component-margin: 0.2em;
  --component-border-radius: 1em;
  --component-border-width: 1px;
  --component-border-style: solid;

  // Card 
  --card-padding: var(--component-padding);
  --card-margin: var(--component-margin);
  --card-border-radius: var(--component-border-radius);
  --card-border-width: var(--component-border-width);
  --card-border-style: var(--component-border-style);
  // Button
  --button-padding: 0.5em 1em;
  --button-margin: 0.05em;
  --button-border-radius: var(--component-border-radius);
  --button-border-width: var(--component-border-width);
  --button-border-style: var(--component-border-style);
  --button-font: inherit;
  // Groups
  --group-padding: var(--component-padding);
  --group-margin: var(--component-margin);
  --group-border-radius: var(--component-border-radius);
  --group-border-width: var(--component-border-width);
  --group-border-style: var(--component-border-style);

  // Navbar
  --site-name-size: 1.5em;
  --navbar-padding: var(--component-padding);
  --navbar-margin: var(--component-margin);
  --navbar-border-width: var(--component-border-width);
  --navbar-border-style: var(--component-border-style);
  --navbar-link-text-decoration: none;
}

nav p {
  opacity: 0.95;
}