---
---

@use '../generate-color-variables';
@use '../selectors';

// Colors
:root {
  @include generate-color-variables.globals(
    $colors: (
      "canvas": white,
      "primary": #002b6f,
      "secondary": #005b52,
      "tertiary": #29005b,
      "success": #005b15,
      "danger": #970000,
      "warning": #e78f00,
      "info": #00b8cf,
    ),
    $text-contrast: 95%,
    $border-contrast: 10%,
    $hover-contrast: 10%,
    $input-alpha: 0.05,
  );
}

// Transition
* {
  transition: 0.5s all;
}

// Components
:root {
  --component-padding: 1em;
  --component-margin: 0.2em;
  --component-border-radius: 12px;
  --component-border-width: 2px;
  --component-border-style: solid;
}

.card { 
  padding: var(--component-padding);
  margin: var(--component-margin);
  border-radius: var(--component-border-radius);
  border-width: var(--component-border-width);
  border-style: var(--component-border-style);
}

#{selectors.$button} {
  padding: 0.5em 0.7em;
  margin: 0.05em;
  border-radius: 1em;
  border-width: var(--component-border-width);
  border-style: var(--component-border-style);
  font: inherit;
}

.group {
  margin: var(--component-margin);
  --group-border-radius: var(--component-border-radius);
  & > * {
    padding: var(--component-padding);
    border-width: var(--component-border-width);
    border-style: var(--component-border-style);
  }
}

// Navbar
:root {
  --site-name-size: 1.5em;
  --navbar-padding: var(--component-padding);
  --navbar-margin: var(--component-margin);
  --navbar-border-radius: var(--component-border-radius);
  --navbar-border-width: var(--component-border-width);
  --navbar-border-style: var(--component-border-style);
  --navbar-link-text-decoration: none;
}

nav {
    border-radius: var(--navbar-border-radius);
  a {
    text-decoration: none;
  }

  p {
    opacity: 0.95;
  }
}

// // Forms //
// // Inputs
// --input-padding: 0.7em 1em;
// --input-margin: var(--component-margin);
// --input-border-radius: 2em;
// --input-border-width: 0.2em;
// --input-border-style: var(--component-border-style);
// --input-box-shadow: inset 0 0 0.7em #0003;
// --focus-input-color: var(--info-input-color);