@use 'functions' as *;
@use '../config/selectors';

@mixin generate($colors, $default-text-contrast, $minimum-text-contrast, $input-border-contrast, $component-contrast) {
  :root {
    @each $color-name, $color-code in $colors {
      --#{$color-name}-color: #{$color-code};
      // Text
      --text-contrast-#{$color-name}-color: #{contrast-background($color-code, $default-text-contrast)};
      @each $color-name2, $color-code2 in $colors {
        --#{$color-name2}-text-contrast-#{$color-name}-color: #{contrast-background($color-code, $minimum-text-contrast, $base: $color-code2)};
        // Input border
        --#{$color-name2}-input-border-contrast-#{$color-name}-color: #{contrast-background($color-code, $input-border-contrast, $base: $color-code2)};
      }
      
      // Components
      --#{$color-name}-background-color: var(--#{$color-name}-color);
      @each $variable-name, $contrast in $component-contrast {
        --#{$color-name}-#{$variable-name}-color: #{contrast($color-code, $contrast)};
      }
    }
  }

  $color-names: map-keys($colors) !global;
  $component-variable-names: join(('background'), map-keys($component-contrast)) !global;
  @include classes;
}

@mixin background($color-name) {
  background-color: var(--#{$color-name}-color);
  color: var(--text-color);
  @include background-variables($color-name);
}

@mixin background-variables($color-name) {
  // Foreground contrasts background colors
  --text-color: var(--text-contrast-#{$color-name}-color);
  @each $color-name2 in $color-names {
    --#{$color-name2}-text-color: var(--#{$color-name2}-text-contrast-#{$color-name}-color);
    --#{$color-name2}-input-border-color: var(--#{$color-name2}-input-border-contrast-#{$color-name}-color);
  }

  @each $variable-name in $component-variable-names {
    --matching-#{$variable-name}-color: var(--#{$color-name}-#{$variable-name}-color);
  }
}

@mixin component-variables($color-name) {
  @if $color-name == 'matching' {
    @each $variable-name in $component-variable-names {
      --#{$variable-name}-color: var(--matching-#{$variable-name}-color);
    }
  } @else {
    @include background-variables($color-name);
    @each $variable-name in $component-variable-names {
      --#{$variable-name}-color: var(--#{$color-name}-#{$variable-name}-color);
    }
  }
}

@mixin default($color-name) {
  :where(&) {   
    @include component-variables($color-name);
  }
}

@mixin input-default($color-name) {
  #{selectors.$input} {
    :where(&) {
      --input-border-color: var(--#{$color-name}-input-border-color);
    }
    @each $color-name in $color-names {
      --#{$color-name}-input-border-color: inherit;
    }
  }
}

// Classes
@mixin classes {
  @each $color-name in $color-names {
   .#{$color-name}-bg {
      @include background($color-name);
   }

   .#{$color-name}-text {
      color: var(--#{$color-name}-text-color);
    }

    .#{$color-name} {
      @include component-variables($color-name);
      --input-border-color:  var(--#{$color-name}-input-border-color);
    }
  }
}