@use '../config/selectors';
@use 'mixins' as *;

textarea {
  display: block;
}

select {
  @include color-component;
  display: inline-block;
}

.field.danger {
  --danger-text-color: inherit;
  --danger-input-border-color: inherit;
  color: var(--danger-text-color);
  #{selectors.$input} {
    --input-border-color: var(--danger-input-border-color);
  }
}