@use '../config/selectors';

textarea {
  display: block;
}

.field.danger {
  --danger-text-color: inherit;
  --danger-input-border-color: inherit;
  color: var(--danger-text-color);
  #{selectors.$input} {
    --input-border-color: var(--danger-input-border-color);
  }
}