@mixin color-component {
  background-color: var(--background-color);
  border-color: var(--border-color);
  color: var(--text-color);
}

@mixin border-radius($mode: 'all') {
  $modes: (
    'all': var(--border-radius),
    'top': var(--border-radius) var(--border-radius) 0 0,
    'bottom': 0 0 var(--border-radius) var(--border-radius),
    'left': var(--border-radius) 0 0 var(--border-radius),
    'right': 0 var(--border-radius) var(--border-radius) 0,
  );
  border-radius: map-get($modes, $mode);
}

@mixin child-border-radius() {
  &:first-child { @include border-radius('top') }
  &:last-child { @include border-radius('bottom') }
}