@use '../config/selectors';
@use 'mixins' as *;

.nav-list {
  border: var(--border); 
  @include color-component;
  .header { margin: 0 }
  li {
    display: block;
  }
  a {
    @include color-component;
    display: block;
  }

  .header, a { border-bottom: var(--border); }

  ol {
    counter-reset: ol;
    li {
      counter-increment: ol;
      a:before {
        content: counter(ol) ". ";
      }
    }
  }
}

