@use 'mixins' as *;
@use '../config/breakpoints';

.navbar {
  @include color-component;
  margin: var(--navbar-margin);
  @include border-radius;
  display: flex;
  flex-direction: column;
  border-width: var(--navbar-border-width);
  border-style: var(--navbar-border-style);
  :where(a, .item) {
    border-width: var(--navbar-border-width);
    border-top-style: var(--navbar-border-style);
    @include color-component;
    display: block;
    align-self: stretch;
  }

  div {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  p, :where(a, .item) {
    display: flex;
    align-items: center;
    padding: var(--navbar-padding);
    margin: 0;
  }

  .header {
    border-radius: var(--border-radius);
    align-items: center;
    .site-name {
      flex-grow: 1;
    }
    :where(a, .item):first-child {
      @include border-radius('left');
      border: none;
    }
  }

  .collapse {
    max-height: 0;
    overflow: auto;
    flex-direction: inherit;
    transition-property: max-height;
    align-items: stretch;
    div {
      display: flex;
      flex-direction: inherit;
    }
    :last-child :where(a, .item):last-child {
      @include border-radius('bottom');
    }
  }

  &.open {
    .header {
      @include border-radius('top');
    }
    .collapse {
      max-height: calc( 100vh - var(--navbar-push));
    }
  } 
}

@media only screen and (min-width: breakpoints.$navbar)  {
  .navbar {
    flex-direction: row;
    :where(a, .item) {
      border-top-style: none;
      border-left-style: var(--navbar-border-style);
    }
    .toggle-navbar {
      display: none;
    }
    .collapse {
      max-height: initial;
      height: auto;
      justify-content: space-between;
      flex-grow: 1;
      :first-child :where(a, .item):last-child {
        border-right-style: var(--navbar-border-style);
      }
      :last-child :where(a, .item):last-child {
        border-radius: 0 var(--border-radius) var(--border-radius) 0;
      }
    }
  }
}

// Fixed

.navbar-push {
 margin-top: var(--navbar-push);
 overflow: auto;
  * {
    scroll-margin-top: calc(var(--navbar-push) + 1em);
  }
  .sticky {
    top: var(--navbar-push);
    max-height: calc(100vh - var(--navbar-push));
  }
}

.navbar.fixed {
  margin: 0;
  --border-radius: 0;
  width: 100%;
  top: 0;
  right: 0;
}