// Configuration must be imported before theme.
@use '../config'
@use "sass:map"

// Colors //
$colors: ("canvas": #fff, "primary": #a6005a, "secondary": #007046, "info": #551a8b)
$border-contrast: 10%

// Compontents //
#{config.$component-selectors}
  padding: 0.5em
  border: solid 2px var(--canvas-border-color)
  border-radius: 1em
  margin: 0.1em 0
  @media only screen and (min-width: map.get(config.$breakpoints, 'sm'))
    padding: 1em

@mixin last-declared
  :root
    --text-contrast-secondary-color: #f1ff2c
    --border-secondary-color: #f1ff2c
    --canvas-border-color: #aaa
  //// $colors will generate:
  //   --canvas-color: ...
  //   --text-contrast-canvas-color: ...
  //   --canvas-text-contrast-canvas-color: ...
  //   --primary-text-contrast-canvas-color: ...
  //   ...
  //   --primary-color: ...
  //   ...

  // Typography //
  body 
    line-height: 1.5
    font-family: sans-serif

  h1, h2, h3, h4, h5, h6
    font-family: serif
    color: #444

  .link, a
    color: var(--info-text-color)
    font: inherit
    text-decoration: underline

  :not(pre) > code 
    padding: 0.1em 0.2em
    border-radius: 0.5em
    border-style: dotted
    margin: 0.2em

  // Navbar //
  .brand
    text-decoration: none
    margin: 0 0.5em
    font-family: serif
  nav 
    .brand
      padding: 0.5em
    a
      margin: 0