@use '../generate-color-variables';
@use '../selectors';

// Colors
:root {
  @include generate-color-variables.globals(
    $colors: (
      "canvas": white,
      "primary": #002b6f,
      "secondary": #29005b,
      "tertiary": #005b52,
      "success": #005b15,
      "danger": #970000,
      "warning": #e78f00,
      "info": #00b8cf,
    ),
    $default-text-contrast: 90%,
    $minimum-text-contrast: 54%,
    $border-contrast: 10%,
    $hover-contrast: 7%,
    $input-border-contrast: 25%,
  );
}

// Font
body {
  font-family: sans-serif;
}

// Transition
* {
  transition: 0.5s all;
}

// Links
a {
  color: var(--primary-text-color);
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

// Headings
h1, h2, h3, h4, h5, h6, hr {
  border-bottom: var(--component-border-width) var(--component-border-style) var(--border-color);
  font-family: serif;
}
hr {
  margin: 1em 0;
}

// Sizes
.big { font-size: 150% }
.small { font-size: 75% }

// Table
table {
  width: calc(100% - var(--component-margin) * 2);
  box-shadow: var(--component-box-shadow);
  border-collapse: collapse;
  
  td, th {
    padding: var(--component-padding);
    border-width: var(--component-border-width);
    border-style: var(--component-border-style);
    background-image: var(--component-background-image);
  }
}


// Components
:root {
  --component-padding: 0.5em;
  --component-margin: 0.5em;
  --component-border-radius: 12px;
  --component-border-width: 2px;
  --component-border-style: solid;
  --component-background-image: linear-gradient(to bottom, #fff1, transparent, #0001);
  --component-box-shadow: #0005 0px 2px 8px 0px;
  --close-symbol: '✘';
}

#{selectors.$clickable-component} { 
  &:active {
    background-image: linear-gradient(to bottom, #0001, transparent, #fff1);
  }
}

#{selectors.$card} { 
  padding: 0.8em 1.2em;
  margin: var(--component-margin);
  border-radius: var(--component-border-radius);
  border-width: var(--component-border-width);
  border-style: var(--component-border-style);
  background-image: var(--component-background-image);
  box-shadow: var(--component-box-shadow);
}

#{selectors.$button} {
  font-size: 0.9em;
  background-image: linear-gradient(to bottom, #fff3, transparent, #0003);
  padding: 0.5em 0.7em;
  margin: 0.2em 0.05em;
  border-radius: 1em;
  border-width: var(--component-border-width);
  border-style: var(--component-border-style);
  &.small {  font-size: 0.7em; }
  &.big {  font-size: 1.3em; }
}

.panel {  
  border-width: var(--component-border-width);
  border-style: var(--component-border-style);
  box-shadow: var(--component-box-shadow);
  margin: var(--component-margin);
  --panel-border-radius: var(--component-border-radius);
  & > * {
    background-image: var(--component-background-image);
    padding: var(--component-padding);
  }
}

#{selectors.$group} {
  box-shadow: var(--component-box-shadow);
  margin: var(--component-margin);
  --group-border-radius: var(--component-border-radius);
  & > * {
    background-image: var(--component-background-image);
    padding: 0.8em;
    border-width: var(--component-border-width);
    border-style: var(--component-border-style);
  }
}

.grid {
  box-shadow: var(--component-box-shadow);
  border-width: calc(var(--component-border-width) / 2);
  border-style: var(--component-border-style); 
  margin: var(--component-margin); 
  & > * {
    padding: var(--component-padding);
    border-width: calc(var(--component-border-width) / 2);
    border-style: var(--component-border-style);
    background-image: var(--component-background-image);
  }
}

// Navbar
:root {
  --navbar-height: calc(53px + var(--navbar-margin));
  --navbar-padding: 1em;
  --navbar-margin: var(--component-margin);
  --navbar-border-radius: var(--component-border-radius);
  --navbar-border-width: var(--component-border-width);
  --navbar-border-style: var(--component-border-style);
  --navbar-background-image: linear-gradient(to bottom, #fff2, transparent, #0002);
}

.site-name {
  font-family: serif;
  font-size: x-large;
  padding: calc( var(--navbar-padding) / 2) !important;
}

.navbar {
  box-shadow: #0007 0px 4px 8px;
  background-image: var(--navbar-background-image);
  .header {
    background: inherit;
  }
  border-radius: var(--navbar-border-radius);
  margin: var(--component-margin);
  a {
    background-image: var(--navbar-background-image);
    text-decoration: none;
  }

  p {
    opacity: 0.95;
  }
}

// // Forms //
// Inputs
#{selectors.$input} {
  padding: 0.5em;
  margin: var(--component-margin);
  border-radius: 0.7em;
  border-width:var(--component-border-width);
  border-style: var(--component-border-style);
  box-shadow: inset 1px 1px 0.3em 0.2em #0002;

  border-color: var(--component-input-border-color, var(--primary-input-border-color));

  &:focus {
    box-shadow: 0 0 5px var(--input-border-color, var(--primary-input-border-color));
    outline: none;
  }
}

.field {
  padding: 0.5em;
  margin: 1em 0;
  p {
    margin: 0;
  }
  label {
    font-size: 0.9em;
    margin-left: 0.2em;
    font-weight: bold;
    opacity: 0.7;
  }
  &.danger label, &.danger [for] {
    font-weight: bold;
    opacity: 1;
  }
}

// Modal

.modal {
  transition-duration: 1s;
  box-shadow: 1em 1em 50vmax 50vmax #0007;
  .close {
    float: right;
  }
}