$colors: ( "canvas", "primary", "secondary", "tertiary", 
  "success", "danger", "warning", "info",
);

@each $color in $colors {
  %text-contrasts-#{$color}-background {
    color: var(--text-contrast-#{$color}-color);
    @each $color2 in $colors {
      --#{$color2}-text-color: var(--#{$color2}-text-contrast-#{$color}-color);
    }
  }

  .#{$color}-bg { 
    background-color: var(--#{$color}-color);
    @extend %text-contrasts-#{$color}-background;

    // Input border
    @each $color2 in $colors {
      --#{$color2}-input-border-color: var(--#{$color2}-input-border-contrast-#{$color}-color);
    }
  }

  .#{$color}-text {
    color: var(--#{$color}-text-color);
  }

  // Components
  .#{$color} {
    --background-color: var(--#{$color}-color);
    --border-color:  var(--#{$color}-border-color);

    // Text contrasts background colors
    --text-contrast-color: var(--text-contrast-#{$color}-color);
    @each $color2 in $colors {
      --#{$color2}-text-contrast-color: var(--#{$color2}-text-contrast-#{$color}-color);
      --#{$color2}-input-border-contrast-color: var(--#{$color2}-input-border-contrast-#{$color}-color);
    }
    
    --hover-color: var(--#{$color}-hover-color);
    --input-border-color: var(--#{$color}-input-border-color);
  }

  %color-component-default-#{$color} {
    background-color: var(--background-color, var(--#{$color}-color));
    border-color: var(--border-color, var(--#{$color}-border-color));

    // Text contrasts background colors
    color: var(--text-contrast-color, var(--text-contrast-#{$color}-color));
    @each $color2 in $colors {
      --#{$color2}-text-color: var(--#{$color2}-text-contrast-color, var(--#{$color2}-text-contrast-#{$color}-color) );
      // Input border
      --#{$color2}-input-border-color: var(--#{$color2}-input-border-contrast-color, var(--#{$color2}-input-border-contrast-#{$color}-color));
    }
  }

  %color-clickable-default-#{$color} {
    &:hover {
      background-color: var(--hover-color, var(--#{$color}-hover-color));
    }
  }
}