@use 'selectors';

#{selectors.$clickable-components} {
  cursor: pointer;
}

#{selectors.$card} {
  @extend %color-component-default-inherit;
}

#{selectors.$button} {
  @extend %color-component-default-primary;
  @extend %color-clickable-default-primary;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

.group {
  @extend %color-component-default-inherit;
  border-radius: var(--group-border-radius);
  padding: 0;
  & > * {
    @extend %color-component-default-inherit;
    &:last-child {
      border-radius: 0 0 var(--group-border-radius) var(--group-border-radius);
    }
    &:first-child {
      border-radius: var(--group-border-radius) var(--group-border-radius) 0 0;
    } 
    &:not(:last-child) {
      border-bottom: none;
    }
  }
  & > a {
    display: block;
    @extend %color-clickable-default-inherit;
    text-decoration: none;
  }
}

ul.group, ol.group {
  margin-left: 1em;
}