@use 'selectors';

#{selectors.$input} {
  background-color: var(--canvas-color);
  color: var(--text-contrast-canvas-color);
}

textarea {
  display: block;
  width: 100%;
}

.field.danger {
  @extend .danger-text;
  --component-input-border-color: var(--danger-input-border-color);
}