$large-device: 1000px;

body {
  @extend .canvas-bg
}

.site-name {
  font-size: var(--site-name-size);
}

.responsive {
  display: inline-block;
}

.container {
  width: 800px;
  margin: auto;
  max-width: 100%;
}