$medium-device: 800px;
$large-device: 1000px;
$extra-extra-large-device: 1400px;

body {
  @extend .canvas-bg
}

.site-name {
  font-size: var(--site-name-size);
}

.responsive {
  display: inline-block;
}

.container {
  width: 800px;
  margin: auto;
  max-width: 100%;
}

// Part and sliced

@for $i from 2 through 12 {
  $size: calc($extra-extra-large-device / $i);
  .part-#{$i} {
    display: inline-block;
    width: 100%;
  }
  .sliced-in-#{$i} {
    display: grid;
    grid-template-columns: 1fr;
  }
  @for $x from 2 through $i {
    $device: calc( $size * $x );
    $container: if($device < $medium-device, "*", ":not(.container)");
    @media only screen and (min-width: $device) {
      body #{$container} {
        .part-#{$i} {
          width: calc(100% / $x);
        }
        .sliced-in-#{$i} {
          grid-template-columns: repeat($x, 1fr);
        }
      }
    }
  }
}