:root {
  --navbar-height: calc( var(--navbar-padding) + var(--site-name-size) + var(--navbar-margin) );
}

nav {
  display: flex;
  flex-direction: column;
  @extend %color-component-default-primary;
  border-width: var(--navbar-border-width);
  border-style: var(--navbar-border-style);
  a {
    @extend %color-component-default-primary;
    @extend %color-clickable-default-primary;
    border-width: var(--navbar-border-width);
    border-bottom-style: var(--navbar-border-style);
    display: block;
    color: inherit;
  }

  p, a {
    padding: var(--navbar-padding);
    margin: 0;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: inherit;
    border-color: transparent;
  }

  .site-name {
    border-bottom-style: none;
    padding: calc(var(--navbar-padding) - calc( var(--site-name-size) - 1em ) ); 
  }

  .open-button::before {
    content: '☰';
  }

  .collapse {
    max-height: 0;
    overflow: auto;
    flex-direction: inherit;
    div {
      flex-direction: inherit;
    }
  }

  &.open {
    .header {
      border-color: inherit;
    }
    .collapse {
      max-height: calc( 90vh - var(--navbar-height) * 1.5 );
    }
  } 
}

@media only screen and (min-width: $large-device)  {
  nav {
    flex-direction: row;
    a {
      border-bottom-style: none;
      border-right-style: var(--navbar-border-style);
    }
    .header  { 
      display: inline-block;
      border: none;
    }
    .open-button {
      display: none;
    }
    .collapse {
      max-height: initial;
      display: flex;
      height: auto;
      justify-content: space-between;
      flex-grow: 1;
      div {
        display: flex;
      }
    }
  }
}

// Fixed

.navbar-push {
 padding-top: var(--navbar-height);
}

nav.fixed {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  border-style: none none var(--navbar-border-style) none;
}