nav {
  display: flex;
  flex-direction: column;
  @extend %color-component-default-primary;
  border-width: var(--navbar-border-width);
  border-style: var(--navbar-border-style);
  a {
    @extend %color-component-default-primary;
    @extend %color-clickable-default-primary;
    border-width: var(--navbar-border-width);
    border-top-style: var(--navbar-border-style);
    display: block;
    color: inherit;
  }

  p, a {
    display: flex;
    align-items: center;
    padding: var(--navbar-padding);
    margin: 0;
  }

  .header {
    border-radius: var(--navbar-border-radius);
    display: flex;
    justify-content: space-between;
    align-items: center;
    :first-child {
      border-radius: var(--navbar-border-radius) 0 0 var(--navbar-border-radius);
      border: none;
    }
  }

  .open-button::before {
    content: '☰';
  }

  .collapse {
    max-height: 0;
    overflow: auto;
    flex-direction: inherit;
    div {
      flex-direction: inherit;
    }
    :last-child :last-child {
      border-radius: 0 0 var(--navbar-border-radius) var(--navbar-border-radius);
    }
  }

  &.open {
    .header {
      border-radius: var(--navbar-border-radius) var(--navbar-border-radius) 0 0 ; 
      border-color: inherit;
    }
    .collapse {
      max-height: calc( 90vh - var(--navbar-height) * 1.5 );
    }
  } 
}

@media only screen and (min-width: $large-device)  {
  nav {
    flex-direction: row;
    a {
      border-top-style: none;
      border-left-style: var(--navbar-border-style);
    }
    .open-button {
      display: none;
    }
    .collapse {
      max-height: initial;
      display: flex;
      height: auto;
      justify-content: space-between;
      flex-grow: 1;
      div {
        display: flex;
      }
      :first-child a:last-child {
        border-right-style: var(--navbar-border-style);
      }
      :last-child :last-child {
        border-radius: 0 var(--navbar-border-radius) var(--navbar-border-radius) 0;
      }
    }
  }
}

// Fixed

.navbar-push {
 padding-top: var(--navbar-height);
}

nav.fixed {
  margin: 0;
  z-index: 2000;
  --navbar-border-radius: 0;
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  border-style: none none var(--navbar-border-style) none;
}