$medium-device: 800px;
$large-device: 1000px;
$extra-extra-large-device: 1400px;

* {
  box-sizing: border-box;
}

.responsive {
  display: inline-block;
}

.container {
  margin: 0 10px;
  max-width: 100%;
  @media only screen and (min-width: $medium-device) {
    margin: auto;
    width: $medium-device;
  }
}

// Part and sliced
@for $i from 1 through 12 {
  .part-#{$i} {
    display: inline-block;
    width: 100%;
  }
  .sliced-in-#{$i} {
    display: grid;
    grid-template-columns: 1fr;
  }
  @for $x from 2 through $i {
    @media only screen and (min-width: calc( $extra-extra-large-device / $i * $x )) {
      :not(.container) {
        .part-#{$i} {
          width: calc(100% / $x);
        }
        .sliced-in-#{$i} {
          grid-template-columns: repeat($x, 1fr);
        }
      }
    }
    @media only screen and (min-width: calc( $medium-device / $i * $x )) {
      .container {
        .part-#{$i} {
          width: calc(100% / $x);
        }
        .sliced-in-#{$i} {
          grid-template-columns: repeat($x, 1fr);
        }
      }
    }
  }
}