@import './theme.sass'
@import '../../../src/index.sass'

.brand
  color: var(--primary-color)
  span:last-child 
    color: var(--secondary-color)

.example 
  border: solid 3px #aaa
  border-radius: 0 0 10px 10px
  padding: 10px