@import '@/../../src/themes/purple-green.sass'
@import '@/../../src/index.sass'

.brand span:last-child 
  color: var(--secondary-color)

.example
  @extend .component
  padding: 0
  border-top-left-radius: 0
  border-top-right-radius: 0
  width: 100%
  overflow: auto
  margin-top: -1em
  resize: both

.language-HTML
  border-bottom-left-radius: 0
  border-bottom-right-radius: 0