@import '@/../../src/themes/fuchsia-green.sass'
@import '@/../../src/index.sass'
@import '@/../../src/plugins/vue.sass'

.example
  @extend .component
  padding: 0
  border-top-left-radius: 0
  border-top-right-radius: 0
  overflow: auto
  margin-top: -1em
  resize: both
  width: calc(100% - 2px)
  background: none


pre:has(.language-HTML)
  border-bottom-left-radius: 0
  border-bottom-right-radius: 0

pre:has(.language-HTML)::before
    content: 'HTML'
pre:has(.language-CSS)::before
  content: 'CSS'
pre:has(.language-SASS)::before
  content: 'SASS'

pre 
  position: relative
  code
    margin-right: 4em

pre::before
  position: absolute
  right: 1em
  font-weight: bold
  padding: 0.2em