@use 'selectors';

$colors: ( "canvas", "primary", "secondary", "tertiary", 
  "success", "danger", "warning", "info",
);

@each $color in $colors {
  .#{$color}-bg { 
    background-color: var(--#{$color}-color);
    color: var(--text-contrast-#{$color}-color);
    @extend %#{$color}-background-variables;
  }

  %#{$color}-background-variables  { 
    --inherit-background-color: var(--#{$color}-color);
    --inherit-border-color:  var(--#{$color}-border-color);
    --inherit-hover-color: var(--#{$color}-hover-color);

    @each $color2 in $colors {
      --#{$color2}-text-color: var(--#{$color2}-text-contrast-#{$color}-color);
      --#{$color2}-input-border-color: var(--#{$color2}-input-border-contrast-#{$color}-color);
    }
  }

  .#{$color}-text {
    color: var(--#{$color}-text-color);
  }

  // Components
  .#{$color} {
    --component-background-color: var(--#{$color}-color);
    --component-border-color:  var(--#{$color}-border-color);

    // Text contrasts background colors
    --component-text-color: var(--text-contrast-#{$color}-color);
    @each $color2 in $colors {
      --component-#{$color2}-text-color: var(--#{$color2}-text-contrast-#{$color}-color);
      --component-#{$color2}-input-border-color: var(--#{$color2}-input-border-contrast-#{$color}-color);
    }
    
    --component-hover-color: var(--#{$color}-hover-color);
    --component-input-border-color: var(--#{$color}-input-border-color);
  }

  #{selectors.$background-components} {
    .#{$color} {
      @extend %#{$color}-background-variables;
    }
  }

  %color-component-default-#{$color} {
    background-color: var(--component-background-color, var(--#{$color}-color));
    border-color: var(--component-border-color, var(--#{$color}-border-color));

    // Text contrasts background colors
    color: var(--component-text-color, var(--text-contrast-#{$color}-color));
    @each $color2 in $colors {
      --#{$color2}-text-color: var(--component-#{$color2}-text-color, var(--#{$color2}-text-contrast-#{$color}-color) );
      --#{$color2}-input-border-color: var(--component-#{$color2}-input-border-color, var(--#{$color2}-input-border-contrast-#{$color}-color));
    }
  }

  %color-component-default-inherit {
    background-color: var(--component-background-color, var(--inherit-background-color));
    border-color: var(--component-border-color, var(--inherit-border-color));

    // Text contrasts background colors
    color: var(--component-text-color, inherit);
    @each $color2 in $colors {
      --#{$color2}-text-color: var(--component-#{$color2}-text-color, inherit );
      --#{$color2}-input-border-color: var(--component-#{$color2}-input-border-color, inherit );
    }
  }

  %color-clickable-default-#{$color} {
    &:hover {
      background-color: var(--component-hover-color, var(--#{$color}-hover-color));
    }
  }

  %color-clickable-default-inherit {
    &:hover {
      background-color: var(--component-hover-color, var(--inherit-hover-color));
    }
  }
}