@use 'sass:math'

@function is-light($color-code)
  @return lightness($color-code) > 50%

@function text-contrast-color($background, $text-base)
  @if is-light($background)
    @if lightness($background) - lightness($text-base) >= 60%
      @return  $text-base
    @else
      @return darken($text-base, 60%)
  @else
    @if lightness($text-base) - lightness($background) >= 60%
      @return $text-base
    @else
      @return lighten($text-base, 60%)

@function contrast($color, $amount)
  @if is-light($color)
    @return darken($color, $amount)
  @else
    @return lighten($color, $amount)

@mixin background-for($color-name)
  @include background
  --background-color: var(--#{$color-name}-color)
  --light-gradient-color: var(--light-gradient-#{$color-name}-color)
  --dark-gradient-color: var(--dark-gradient-#{$color-name}-color)
  @include text-contrast-colors($color-name)
  --hover-color: var(--#{$color-name}-hover-color)

@mixin background
  background-color: var(--background-color)
  @include gradient

@mixin gradient-colors($color-name, $color-code)
  @if lightness($color-code) < $gradient-contrast
    --light-gradient-#{$color-name}-color: #{lighten($color-code, $gradient-contrast)}
  @else
    --light-gradient-#{$color-name}-color: #{lighten($color-code, math.div($gradient-contrast, 2))}
  @if 100% - lightness($color-code) < $gradient-contrast
    --dark-gradient-#{$color-name}-color: #{darken($color-code, $gradient-contrast)}
  @else
    --dark-gradient-#{$color-name}-color: #{darken($color-code, math.div($gradient-contrast, 2))}


@mixin text-contrast-colors($color-name)
  color: var(--text-contrast-#{$color-name}-color)
  @each $color-name2, $color-code2 in $colors
    --#{$color-name2}-text-color: var(--#{$color-name2}-text-contrast-#{$color-name}-color)

@each $color-name, $color-code in $colors
  :root
    --#{$color-name}-color: #{$color-code}
    // Gradients
    @include gradient-colors($color-name, $color-code)
    // Text
    --text-contrast-#{$color-name}-color: #{if(is-light($color-code), black, white)}
    @each $color-name2, $color-code2 in $colors
      --#{$color-name2}-text-contrast-#{$color-name}-color: #{text-contrast-color($color-code, $color-code2)}
    // Border
    --#{$color-name}-border-color: #{contrast($color-code, $border-contrast)}
    // Hover
    --#{$color-name}-hover-color: #{contrast($color-code, $hover-contrast)}

  .#{$color-name}-bg
    @include background-for($color-name)

  .#{$color-name}-text
    color: var(--#{$color-name}-text-color)

  .#{$color-name} 
    @include background-for($color-name)
    --component-border-color: var(--#{$color-name}-border-color)

