@function is-light($color-code)
  @return lightness($color-code) > 50%

@function text-contrast-color($background, $text-base)
  @if is-light($background)
    @if lightness($background) - lightness($text-base) >= 60%
      @return  $text-base
    @else
      @return darken($text-base, 60%)
  @else
    @if lightness($text-base) - lightness($background) >= 60%
      @return $text-base
    @else
      @return lighten($text-base, 60%)

@function border-color($color)
  @if is-light($color)
    @return darken($color, $border-contrast)
  @else
    @return lighten($color, $border-contrast)

@mixin text-contrast-colors($color-name)
  color: var(--text-contrast-#{$color-name}-color)
  @each $color-name2, $color-code2 in $colors
    --#{$color-name2}-text-color: var(--#{$color-name2}-text-contrast-#{$color-name}-color)

@each $color-name, $color-code in $colors
  :root
    --#{$color-name}-color: #{$color-code}
    --text-contrast-#{$color-name}-color: #{if(is-light($color-code), black, white)}
    @each $color-name2, $color-code2 in $colors
      --#{$color-name2}-text-contrast-#{$color-name}-color: #{text-contrast-color($color-code, $color-code2)}
    --#{$color-name}-border-color: #{border-color($color-code)}

  .#{$color-name}-bg
    background-color: var(--#{$color-name}-color)
    @include text-contrast-colors($color-name)

  .#{$color-name}-text
    color: var(--#{$color-name}-text-color)

  .#{$color-name} 
    @extend .#{$color-name}-bg
    border-color: var(--#{$color-name}-border-color)

