@use 'config'

#{config.$component-selectors}
  --component-border: var(--component-border-width) var(--component-border-style) var(--component-border-color)
  border: var(--component-border)

#{config.$clickable-selectors}
  &:hover:not(:focus):not(.active)
    background-color: var(--hover-color)