// Reponsiveness
* 
  box-sizing: border-box

body
  background-color: var(--canvas-color)

// Links
.link
  display: inline
  background: none
  border: none
  cursor: pointer
  padding: 0

// Pre code
code
  @extend .component
  display: inline-block

pre 
  overflow: auto
  margin-bottom: 1em
  code
    display: block
