@use "sass:map"
@use 'config'

.brand
  color: var(--primary-text-color)
  display: inline-block
  font-size: x-large
  @media only screen and (min-width: map.get(config.$breakpoints, 'sm'))
    font-size: xx-large
  @media only screen and (min-width: map.get(config.$breakpoints, 'md'))
    font-size: xxx-large

nav
  @extend .primary
  padding: 0
  flex-direction: column
  align-items: stretch
  display: flex
  .brand
    margin: 0
    font-size: x-large
    a
      border: none
      padding: 0
  a
    background: transparent
    color: var(--text-color)
    border-radius: 0
    white-space: nowrap
    border: none
    border-bottom: var(--border)
    &:last-child
      border-bottom: none


// Horizontal navbar
@mixin horizontal-navbar
  flex-direction: row
  overflow-x: auto
  a, .brand
    border-bottom: none
    border-right: var(--border)
    align-items: center

nav
  @media only screen and (min-width: config.$collapse-breakpoint)
    @include horizontal-navbar
  &.horizontal-sm
    @include horizontal-navbar


// Collapse
nav
  .open-button
    border: var(--border)
    &::before
      content: '☰'
    @media only screen and (min-width: config.$collapse-breakpoint)
      display: none
  &:has(.collapse) .brand
    border-bottom: none

  .collapse
    background: var(--background)
    display: flex
    flex-direction: column
    position: fixed
    top: 0
    left: 0
    transform: translateX(-100%)
    border-right:  var(--border)
    max-height: 100%
    overflow: auto
    @media only screen and (min-width: config.$collapse-breakpoint)
      @include horizontal-navbar
      position: static
      transform: translateX(0)
      border-right: none
      :has(.close-button)
        display: none

    :has(.close-button)
      border-bottom: var(--border)
      text-align: right
    .close-button::before
      content: '×'

  // Open
  .collapse.open, &:has(.open-button:focus) .collapse:not(.close)
    transform: translateX(0)

// Placement
nav
  &.absolute, &.fixed, &.sticky
    top: 0
    z-index: 1000
  &.absolute, &.fixed
    left: 0
    border-radius: 0
    margin: 0
    width: 100%
    display: flex
  &.absolute
    position: absolute
  &.fixed
    position: fixed
  &.sticky
    position: sticky

body:has(nav.absolute), body:has(nav.fixed)
  margin-top: var(--navbar-body-margin)