@use "sass:map"
@use 'config'

.brand
  color: var(--primary-text-color)
  font-size: xxx-large

nav
  display: flex
  flex-direction: column
    
@media only screen and (min-width: map.get(config.$breakpoints, 'md'))
  nav
    flex-direction: row
